* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f7f7f7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)),
    url(./img/related-3.jpg);
  background-size: cover;
}

h1 {
  font-size: 44px;
  padding: 30px 50px;
  text-align: center;
}
